[submodule "documentation/2444503dgwsyh"]
	path = documentation/2444503dgwsyh
	url = https://git.overleaf.com/2444503dgwsyh
[submodule "documentation/Functional Neural Networks Approx"]
	path = documentation/Functional Neural Networks Approx
	url = https://git.overleaf.com/2444503dgwsyh
[submodule "documentation/src/FFNApprox"]
	path = documentation/src/FFNApprox
	url = https://git.overleaf.com/2444503dgwsyh
